<div class="container-fluid h-100 d-inline-block" style="min-height:900px;background-image: url(../assets/makka.jpeg);">
  <div class="row no-gutter">
     <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
                <div class="form-label-group">
                  <input name="email" (ngModel)="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email address</label>
                  <em *ngIf="loginForm.controls.email?.touched &&  loginForm.controls.email.invalid">Email is required *</em>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputPassword" name="password" (ngModel)="password" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                  <em *ngIf="loginForm.controls.password?.touched && loginForm.controls.password.invalid">Password is required *</em>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" [disabled]="loginForm.invalid"  type="submit">Sign in</button>
                <div class="text-center">
                  <a class="small" href="#">Forgot password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
